
.row.well
  .col-xs-12
    h3 #{menuTitle}
  ul.list-unstyled.products-list
    each item, index in data
      if item
        if data.length > 6
          li.col-lg-2.col-md-3.col-sm-4.col-xs-6.bottom-offset-half
            a(href="#{item.url}")
              figure
                img.img-responsive(src="#{item.img}")
                figcaption.text-center
                  h5 #{item.title}
          if (index + 1) % 2 === 0
            .clearfix.visible-xs
          if (index + 1) % 3 === 0
            .clearfix.visible-sm
          if (index + 1) % 4 === 0
            .clearfix.visible-md
          if (index + 1) % 6 === 0
            .clearfix.visible-lg
        else
          li.col-lg-3.col-md-4.col-sm-6.col-xs-6.bottom-offset-half
            a(href="#{item.url}")
              figure
                img.img-responsive(src="#{item.img}")
                figcaption.text-center
                  h4 #{item.title}
          if (index + 1) % 2 === 0
            .clearfix.visible-xs
          if (index + 1) % 3 === 0
            .clearfix.visible-md
          if (index + 1) % 4 === 0
            .clearfix.visible-lg




