.row
  .col-xs-12
    if breadcrumbs
      ol.breadcrumb
        each crumb, index in breadcrumbs
          li(class="#{index === (breadcrumbs.length -1) ? 'active' : ''}")
            a(href="#{crumb.url}") #{crumb.text}
    h3 #{title}
    hr


.row
  aside.col-md-4.col-lg-3
    ul.list-unstyled.product-list
      each product, index in products
        if product
          li
            h4.product(class="#{index === 0 ? 'active' : ''}") #{product.name}

  .col-md-8.col-lg-9()
    each product, index in products
      .well(class="#{index !== 0 ? 'hidden' : ''}")
        img.img-responsive(src='#{product.img}')
        h4.title #{product.fullname}
        if product.features
          h5.subtitle Caracteristicas del producto
          ul.list-unstyled
            each feature in product.features
              li - #{feature}
        if product.info
          h5.subtitle Información adicional
          p #{product.info}

        a.btn.btn-primary.btn-raised(href="#") Descargar Informacion



